<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
    <listeners>
        <listener class-name="testComponents.Listeners"/>
    </listeners>
    <test thread-count="5" name="SubmitOrder">
        <classes>
            <class name="tests.SubmitOrderTest"/>
        </classes>
    </test>
    <test thread-count="5" name="ErrorValidations">
        <classes>
            <class name="tests.ErrorValidationsTest"/>
        </classes>
    </test>
</suite>